/* Make anything we want to call a  header
different */
.gffd_header strong{
	color: rgba(0, 0, 0, 0.37);
	text-transform: uppercase;
	font-size: 84%;
}

/* Make headers on the tab format
provided by GF 

See https://cloudup.com/cdb4ZyrVCv9
*/
.gffd-tab-header{
	border-bottom: 1px solid rgba(0,0,0, 0.03);
}

.gffd-tab-header a{
	color: rgba(0, 0, 0, 0.23);
}

.gffd-tab-header a{
	cursor: default;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #fff;
}